.campos{
    display: inline-block;
    margin: 15px;

}

.elfraccionario{
    display: inline-block;
    vertical-align: middle;

}

.texto{
    color: black;
    font-family: lucida,sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    margin-right: 10px;
    display: inline-block;
    
}

.contenedor{
    border: 1px solid #000000;
    padding:2px;
    margin: 3px;

}

.contenedor2{
    border: 1px solid #000000;
    padding:2px;
    margin: 3px;
    text-align: center;
    

}

.entero
{
    display: inline-block;
    height: 100px;
    font-size: 30px;
    vertical-align: middle;
    
}

.fraccion
{
    display: inline-block;
    color:red;
    
    height: 50px;
    font-size: 30px;
    
}

.pnumerador
{
    border-bottom: 1px solid #000000;
}

.mipanel
{
    height: 600px;
    width: 1000px;
    border: 1px solid;
    text-align: center;
}